{% extends 'base.html' %}

{% block heading %}{{ user }}'s {% block title %}Profile{% endblock %} Page{% endblock %}
{% block content %}
  <div>
    <label class="requiredField">Date of Birth</label>
    <p>
      The {{ user.profile.date_of_birth|date:"jS" }} of {{ user.profile.date_of_birth|date:"F Y" }}
    </p>
    <label class="requiredField">Bio</label>
    {% autoescape off %}
      {{ user.profile.bio }}
    {% endautoescape %}
  </div>
  {% if request.user == user %}
    <div class="border-top pt-1">
      <a class="btn btn-primary mt-3" href="{% url 'profile-update' user.profile.id %}">Update</a>
    </div>
  {% endif %}
{% endblock %}