{% extends 'base.html' %}

{% block heading %}{% block title %}{{ title }}{% endblock %} Page{% endblock %}
{% block content %}
  {% for post in object_list %}
    <div class="container border pb-3 mb-3">
      <h2 class="pt-3"><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
      <p>
        By <a href="{% url 'profile' post.author.id %}"><b>{{ post.author }}</b></a> on <b>{{ post.date_posted|date:"l" }} the {{ post.date_posted|date:"jS" }} at {{ post.date_posted|date:"P" }}</b>
      </p>
      {% autoescape off %}
        {{ post.content }}
      {% endautoescape %}
    </div>
  {% endfor %}
{% endblock %}